{% extends 'index.html' %}

{% block content %}

    <div class="landing">
        <div>
            <h1 class="title">Welcome to the extraordinary world of Jack!</h1>
            <h1>Sorry, this website is under construction!</h1>

            <div id="fb-link">
                <h1>Find us on facebook</h1>
                <a href="https://www.facebook.com/extraordinaryjack/"><img id='fb' src="/static/css/imgs/Facebook.png"></a>
            </div>
            <h1><a href="mailto:info@extraordinaryjack.co.uk">info@extraordinaryjack.co.uk</a></h1>
        </div>

    </div>
{% endblock %}