{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>X O Jack</title>

    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Indie+Flower|M+PLUS+1p|Merriweather+Sans|Open+Sans|Sawarabi+Mincho" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123955938-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-123955938-2');
    </script>



</head>
<body>


<div id="page">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>