/*



    font-family: 'M PLUS 1p', sans-serif;


    font-family: 'Open Sans', sans-serif;

    font-family: 'Indie Flower', cursive;

    font-family: 'Baloo Bhai', cursive;

    font-family: 'Merriweather Sans', sans-serif;



 */

body {
    height: 100vh;
    width: 100vw;
    background-image: url("imgs/gradient7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


#page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1, a {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 2em;
    margin: 20px 0;

}

.landing {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 25px;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
}

#xyy {
    height: 50vh;
    width: auto;
    margin-left: 5vw;
}
#fb-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#fb-link > h1:nth-child(1) {
    margin: 0;
}
#fb {
    height: 35px;
    width: auto;
    margin-left: 20px;
}

.title {
    font-size: 4.5em;
    margin-bottom: 40px;
}

a {
    color: white;
}

@media screen and (max-width: 600px) {
    #xyy { display: none}
    h1 {font-size: 1.75em;}
    .title { font-size: 3.5em}
}